<p id="notice"><%= notice %></p>


Name:
<%= @album.name %> <br>

Description:
<%= @album.description %> <br>

Private:
<%= @album.private %> <br>

Images:
<div>
  <% @album.images.each do |image| %>
    <%= image_tag image, style: "width: 250px; display: run-in" %>
  <% end %>
</div>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
